body {
    background-color: rgb(189, 187, 187);
    font-size: 1.5rem;
}

button {
    font-size: inherit;
    margin: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

input {
    font-size: inherit;
    border-radius: 0.3rem;
}
